<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.EodetailMapper">
    <resultMap id="BaseResultMap" type="com.cn.entity.Eodetail">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="orderId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="productId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="cost" jdbcType="REAL" javaType="java.lang.Float"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, orderId, productId, quantity, cost
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from eodetail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eodetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cn.entity.Eodetail">
    insert into eodetail (id, orderId, productId, 
      quantity, cost)
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{cost,jdbcType=REAL})
  </insert>
    <insert id="insertSelective" parameterType="com.cn.entity.Eodetail">
        insert into eodetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderid != null">
                orderId,
            </if>
            <if test="productid != null">
                productId,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="cost != null">
                cost,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="productid != null">
                #{productid,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cn.entity.Eodetail">
        update eodetail
        <set>
            <if test="orderid != null">
                orderId = #{orderid,jdbcType=INTEGER},
            </if>
            <if test="productid != null">
                productId = #{productid,jdbcType=INTEGER},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                cost = #{cost,jdbcType=REAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cn.entity.Eodetail">
    update eodetail
    set orderId = #{orderid,jdbcType=INTEGER},
      productId = #{productid,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      cost = #{cost,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>